* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-ellipsis-2 {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.van-nav-bar__title {
  color: #333;
  font-size: 20px;
}
.van-nav-bar__left i {
  font-size: 20px;
  color: #333;
  margin-left: -20px;
}
